.mainText{
 font-size: 20px;
}
#this{
  color: black;
}
.textAnimate{
  display: flex;
  font-size: 20px;
  gap: 10px;
}
.dynamicText {
  height: 28px;
  width: 110%;
  overflow: hidden;
}
.dynamicText li {
  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}
.dynamicText li span {
  position: relative;
}
.dark::after {
  content: '';
  position: absolute;
  border-left: 2px solid white;
  background-color: var(--Dark);
  left: 0px;
  height: 28px;
  width: 100%;
  animation: typing steps(16) infinite 2s;
}
@keyframes typing {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide{
  100%{
    top:-120px
  }

}

@media only screen and (min-width: 768px) {
  .mainText{
    font-size: 30px;
   }
   .textAnimate{
    font-size: 30px;
   }
   .dynamicText {
    height: 40px;
  }
  .dynamicText li span::after {
    height: 40px;
  }
  @keyframes slide {
    100%{
      top: -180px;
    }
  }
}
