@media only screen and (min-width: 768px) {
  .Dbox::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-top-right-radius: 10px;
    align-self: end;
    top: -2rem;
    right: -2rem;
    animation: boxAnimate 1s ease-in-out;
  }
  .Lbox::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-top-right-radius: 10px;
    align-self: end;
    top: -2rem;
    right: -2rem;
    animation: boxAnimate 1s ease-in-out;
  }
}

@keyframes boxAnimate{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
  0%{
    height: 0%;
  }
  100%{
    height: 50%;
  }
}
