@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primaryColor: #0c090d;
  --secondaryColor: #53c0bb;

  --primaryColorL: #cbcbcb;
  --secondaryColorL: #0585b8;

  --html: #ff5733;
  --css: #2965f1;
  --js: #ceb200;
  --ts: #007acc;
  --cs: #bf40bf;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.messenger {
  background: linear-gradient(
    81.84deg,
    #0099ff -9.4%,
    #a033ff 51.57%,
    #ff5280 84.07%,
    #ff7061 90.59%
  );
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 1px;
}
::-webkit-scrollbar-track {
  background: var(--primaryColorL);
}
.textJustify{
  text-justify: distribute-all-lines;
}
